body {
    background-color: bisque;
}
p {
    font-family: Verdana, sans-serif;
    height: 100px;
}
h1 {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 46px;  
  }
h2 {
    color: darkblue;
    font-family: Georgia, serif;
    font-size: 30px;  
}
h3 {
    color:indigo;
    font-family: Georgia, serif;
    font-size: 20px;  
}

img.border {
    border: 5px solid #000000;
}
img.padding {
    padding-left: 10px;
}
img.margin {
    margin: 20px;
}
img.top {
    border: 2px solid #000000;
    border-top-right-radius: 30px;
}
ul {
    margin-left: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
}